body{
    font-family: 'Baloo Bhaijaan 2',cursive;
}

header{
    margin-left: 100px;
    margin-right: 100px;
}  

/* ссылки меню */
.menu1 a{    
    text-decoration: none;
    color: #828282;
}

/* меню */
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    /* color: #828282; */
    padding:10px;
}

/* первая ссылка */
#one{
    font-size: 18px;
    color:black;
}

hr{
    font-size: 18px;
    border: 1px solid #828282;
}

.name{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}

.den{
    font-size: 47.3392px;
    color: #070707;
    margin-bottom: 0;
    padding-bottom: 0;
}

.lang{
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin-bottom: 30px;
}

.lang1{
    color:#828282;
}

.photo{
    width: 100%;
    margin-top: 30px;
}

.About{
    height: 400px;
    background: #F6F6F6;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.About h1{
    font-size: 34px;
    color: #070707;
}

.About p{
    font-size: 18px;
    line-height: 22px;
}

.skills h3{
    font-size: 34px;
    color: #070707;
}

.skills{
    text-align: center;
    align-items: center;
}

/* скилс иконки */
.vector{
    margin-top: 100px;
    width: 80%;
    height: 250px;
    margin-left: 50px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items:top;
}

/* скилс звездочки */
.vector footer{
    text-align: center;
    align-items:flex-end;
}

/* скилс последние звездочки от фигма */
#footer{
    margin-top: 43px;
}

.portfolio{
    text-align: center;
    margin-top: 100px;
    font-size: 34px;
    color: #070707;
}
.homepage{
    text-align: center;
}
.homepage a{
    
    text-decoration:underline ;
    color: #070707;
    font-size: 18px;
}

.reebok{
    text-align: center;
    margin-top: 80px;
    
}
.reebok img{
    margin-bottom: 80px;
}

.reebok a{
    text-decoration:underline ;
    color: #070707;
    font-size: 18px;
    
    
}
.braun{
    text-align: center;
    margin-top: 80px;
}
.braun a{
    text-decoration:underline ;
    color: #070707;
    font-size: 18px;
}

.footer1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}
.footer1 h3{
    font-size: 34px;
    color: #070707;

} 

.footer1 input{
    background: #070707;
    color:white;
    padding: 10px 20px;
    border-radius: 30px;
}

.footer2{
    text-align: center;
    padding-right: 50px;
    
}

.footer2 img{
    margin-left: 40px;
}

.linkin{
    height: 40px;
    padding-bottom: 0px;
}
.behance{
    height: 40px;
    padding-bottom: 0px;
}
.footer3{
    text-align: center;
    font-size: 14px;
    color: #828282;
    line-height: 5px;
    margin-top: 50px;
   
}
footer{
    margin-bottom: 150px;
}