
* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
   
}

a{
    text-decoration: none;
    cursor:pointer;
}


.left, .ul_li > li {
    float: left;
}

.right {
    float: right;
    position:relative
}

.ul_li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.ul_li li {
    padding: 10px 15px;
}

.b-r li {
    border-right: 1px solid #dadada;

}

.b-r li:last-child {
    border-right: 0;
}


.container {
    width:  1200px;
    margin: 0 auto;
}


.m-l-10 {
    margin-left: 10px;
}
.verhnee_menu {
    background: #ececec;
    display: inline-block;
    width: 100%;
}

.verhnee_menu .ul_li i {
    margin-right:  10px;
}

.center_menu {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-top: 40px;
}

.center_menu .ul_li:first-child{
    padding-top: 0;

}


.msg {
    position: absolute;
    top: -7px;
    right: 8px;
    background: red;
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 13px;
}


.icon_msg {
    position: relative;
}

.center_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.seryi_krug {
    background:#ececec;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius:50%;
    color: #4c4b6c;
}
.red {
    color:red;
}

.yellow {
    color:rgb(228, 228, 0);
}

.blue {
    color:rgb(34, 223, 236);
}

.center_menu .right > p:first-child {
    font-weight: bold;
    color: #4c4b6c;
}

.center_menu .right > p{
    color: #ababab;
}


/* Нижнее меню */


.nijnee_menu {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #ececec;
   
}




.nijnee_menu li a{
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 300;
    border-radius:20px;
    transition: all 0.3s ease;
}



.dropdown_menu {
    display: none;
    position: absolute;
    background:white;
    width: auto;
    top: 55px;
    left: auto;
    padding: 0 40px 0 40px;
    border: 1px solid rgb(124, 124, 124);

}
.hover_menu li{
    margin: 18px 7px;
    padding: 0;
    
}

.hover_menu a {
    color:#4c4b6c;
}

.hover_menu li:hover .dropdown_menu {
    display: block;
    
}


.hover_menu.ul_li li a:hover {
    background: rgb(128, 215, 255);
    color:white;
    transition: all 0.3s ease;
    
}
   

.dropdown_menu h1{
    font-size: 20px;
    margin-left: 10px;
}




.fa-angle-down{
    font-size: x-small;
    margin-left: 5px;
}

/* Поисковик */

.right.down {
    display: flex;
}

.search_form {
    display:inline-flex;
    padding: 0px 20px;
    margin-right: 50px;
    margin-top: 10px;
    justify-content: space-between;
    align-items:center;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}

.search_form_txt{
    border: none;
    width: 70px;
    outline: none;
    font-size: 15px;
    padding-right: 10px;
    background-color: white;
    margin-right: 200px;
    margin-top: 0px;
    

}

.search_btn {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.search_btn i{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    cursor: pointer;
    color:#676594;
}

/* Стили My card */

.mycard {
    display: flex;
}

.card {
    margin-top: 10px;
    position: relative;
   
}

.card_color {
    color: #676594;
    
} 

.card_font {
    font-size: 13px;
    margin-top: 5px;
    
}


.card_krug {
    margin-right: 20px;
    background:#f7c728;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius:50%;
    color: #ffffff;
    position: relative;
}


/* меню моя карта */


.dropdown_menu_card {
    display: none;
    position: absolute;
    right: 20px;
    background:white;
    width: 320px;
    top: 55px;
    left: auto;
    padding: 0;
    box-shadow:  0 0 10px #4c4b6c;
    /* border: 1px solid rgb(124, 124, 124); */
    
    
}

.hover_menu1:hover .dropdown_menu_card {
    display: block;
    
}

.kartochka img {
    width: 90px;
}

.kartochka h1 {
    font-size: 15px;
    color:#383752
  
}

.kartochka {
    display: flex;
    justify-content: space-between;
    
}

.kartochka span {
    margin: 0 10px 0 0;
}

.cena {
    font-weight: bold;
    font-size: 20px;
    color:#383752
}

.cena1 {
    text-decoration-line: line-through;
    color:#4c4b6c
    
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color:#383752
}

.down_cart {
    margin: 20px 15px 0 15px;
}

.total {
    font-size: large;
    font-weight:600;
    color:#383752
}

.total1 {
    margin-left: 153px;
    font-weight:
    bolder;
    font-size: 20px;
    color:#2a293f
}


.checkout button{
    width: 210px;
    margin: 20px 20px 10px 20px;
    height: 50px;
    padding: 0;
    border-radius:25px;
    background-color: rgb(128, 215, 255);
    color: #ececec;
    border:0;
}